NEWSAPI_AI_KEY=
MEDIACLOUD_API_KEY=
NEWSDATA_API_KEY=
WORLD_NEWS_API_KEY=
SCRAPECREATORS_API_KEY=
BRAVE_SEARCH_API_KEY=
APIFY_API_TOKEN=
BRIGHTDATA_API_KEY=
BRIGHTDATA_SERP_ZONE=
GOOGLE_SEARCH_CONSOLE_CREDENTIALS=
MONID_API_KEY=
X_BEARER_TOKEN=
YOUTUBE_API_KEY=
CREDENTIALS_ENCRYPTION_KEY=
AZURE_TRANSLATOR_KEY=
AZURE_TRANSLATOR_REGION=
AZURE_TRANSLATOR_ENDPOINT=
DEEPL_API_KEY=
TRANSLATION_CONTACT_EMAIL=
LIBRETRANSLATE_URL=
LIBRETRANSLATE_API_KEY=
OPENAI_API_KEY=
